<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"/>
        <script defer src="/static/main.bc.js"></script>
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body class="bg-light min-vh-100">
        <div id="app"></div>
        <noscript>
            <div class="container min-vh-100">
                <div class="row min-vh-100">
                    <div class="col-md-12 min-vh-100">
                        <div class="p-4 text-center bg-primary">
                            <h1 class="mb-3 text-light">
                                {% block header_title %}Nittany Market{% endblock %}
                            </h1>
                        </div>
                        <div class="container-sm bg-white min-vh-100">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </noscript>
    </body>
</html>
